





@media screen and (max-width:786px) {
  .supply{
    font-size: 20px;
  color: rgb(34, 29, 2);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 5px;
  background-color: rgb(196, 192, 193);
  }
  .knowledge{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-top: 50px;
    margin-right: 20px;
    height: 100%;
}

.production{
  font-size: 20px;
  width: 1fr;
  height: 400px;
  color: rgb(15, 14, 14);
  background-color: honeydew;
  padding: 20px 20px;
 
}


  .names{
    text-align: center;
    width: fit-content;
  } 
  .production{
    text-align: center;
    width: fit-content;
  }
  .image-comment{
    display: block;
    width:fit-content;
  }
  .cola{
    width: fit-content;
  }
  
  }
  







 
@media screen and (max-width:480px) {
.supply{
    font-size: 20px;
  color: rgb(34, 29, 2);
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 5px;
  background-color: rgb(196, 192, 193);
  }
  .knowledge{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5px;
    margin-top: 20px;
    margin-right: 20px;
}

.production{
  font-size: 20px;
  width: 1fr;
  height: 400px;
  color: rgb(15, 14, 14);
  background-color: honeydew;
  padding: 20px 20px;
 
}

.names{
  text-align: center;
  width: fit-content;
} 
.production{
  text-align: center;
  width: fit-content;
}
.image-comment{
  display: block;
  width:fit-content;

}
}


@media screen and (max-width:200px) {
  .supply{
      font-size: 20px;
    color: rgb(92, 81, 19);
    
    padding: 5px 5px;
    background-color: rgb(129, 121, 122);
    }
    .knowledge{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 2px;
      margin-top: 10px;
      margin-right: 10px;
  }
  
  .production{
    font-size: 20px;
    width: 1fr;
    height: 400px;
    color: rgb(15, 14, 14);
    background-color: honeydew;
    padding: 5px 5px;
   
  }
  
  .names{
    text-align: center;
    width: fit-content;
  } 
  .production{
    text-align: center;
    width: fit-content;
  }
  .image-comment{
    display: block;
    width:fit-content;
  
  }
  }