/* Styling for each component is demarketed with comment so as for the 
co-collaborator to know where to put their styling since we are using one stylesheet.
to avoid merge conflict  */

/* There is a naming conversion we introduce in our html to be in styling 
to avoid merge conflict  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  start for styling for homepage */
.homepage-hero-container {
  background-color: #00b7ff;
  height: 100vh;
  width: 100%;
}

.homepage-header {
  color: #ffa500;
  padding: 20px;
  background-color: white;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-header .hompage-Navlinks ul {
  display: flex;
  list-style-type: none;
}

.homepage-header .hompage-Navlinks ul li {
  padding: 20px;
}

.homepage-header .hompage-Navlinks ul li a {
  text-decoration: none;
  color: black;
}

/* .homepage-header .hompage-Navlinks ul{
    display: inline-flex;
    list-style: none;
    padding: 15px;
} */

.homepage-hero-section {
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 87vh;
  /* background-color: purple; */
}

.homepage-hero-section .homepage-hero-text {
  
  width: 50%;
  padding: 100px 10px 60px 10px;
}
.homepage-hero-section .homepage-hero-image {
  background-color: red;
  width: 50%;
}

.homepage-hero-section .homepage-hero-text h1{
    color: #ffff;
    font-size: 50px;
    padding-bottom: 15px;
}

.homepage-hero-section .homepage-hero-text p{
    color: #ffff;
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 100;
}

.homepage-hero-text-btn button{
    margin-top: 20px;
    padding: 15px;
    background-color: green;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 150px;
}

.homepage-main-section{
    width: 90%;
    height: 250px;
    background-color: red;
    margin: 0 auto;
}

.homepage-main-section h1{
    padding-top: 20px;
    text-align: center;
    font-size: 40px;
    color: white;
}


.homepage-main-section section{
    width: 80%;
    margin: 20px auto;
    font-size: 20px;
    line-height: 30px;
}

.homepage-main-section2{
    background-color: #00b7ff;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
}


.homepage-section2-box2 h1{
    /* text-align: center; */
    padding-top: 20px;
}

.homepage-section2-box2  .section2-min-box{
    background-color: red;
    width: 90%;
    display: grid;
    grid-template-columns: 50px auto;
    margin-top: 10px;
    padding: 20px;

}

.homepage-main-section3{
    background-color: green;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;

}


footer{
    width: 100%;
    height: 100px;
    background-color: grey;
}




/* closing for homepage styling */

/*  start for styling for About_ Me  */

/* closing for About styling */

/*  start for styling for portfolio */

/* closing for portfolio styling */

/*  start for styling for testimonial */

/* closing for testimonail styling */

/*  start for styling for Blog/Article */

/* closing for Blog/Article styling */

/*  start for styling for Contact us */

/* closing for Contact Us styling */
