* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main-Portfolio-container {
    background-color: greenyellow;
    width: 90vw;
    height: 1000px;
    margin: 0 auto;
}

.profile-section .profile-section-paragraph p {
    font-size: 100px;
}

h1 {
    background-color: orangered;
    color: #fff;
    font-size: 40px;
}

.portfolio-picture-profile-section {
    display: flex;
    gap: 40px;
    background-color: indigo;
    padding-bottom: 30px;
}

.portfolio-picture-profile-section .picture-section img {
    margin-left: 30px;
    margin-top: 30px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}

.portfolio-picture-profile-section .profile-section {
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-picture-profile-section .profile-section h2 {
    color: #fff;
    font-size: 30px;
}

.profile-section-paragraph {
    color: #fff;
    font-size: 20px;
}

/* .portfolio-picture-profile-section .profile-section .fa1 {
    width: 70px;
    height: 70px;
} */

.project-section {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 30px;
}

.project-section-1 {
    background-color: pink;
}

.project-section-2 {
    background-color: mediumspringgreen;
}

h3 {
    background-color: orangered;
    color: #fff;
    font-size: 20px;
}

.project-section-1 .project-section-2 img {
    width: 200px;
    height: 150px;
}