/* Styling for each component is demarketed with comment so as for the 
co-collaborator to know where to put their styling since we are using one stylesheet.
to avoid merge conflict  */

/* There is a naming conversion we introduce in our html to be in styling 
to avoid merge conflict  */
@media screen and
( max-width:1200px) 
{
  .supply{
    font-size: 20px;
  color: rgb(34, 29, 2);
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px 10px;
  background-color: rgb(196, 192, 193);
  }
  .knowledge{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    margin-top: 20px;
}

.production{
  font-size: 20px;
  width: 1fr;
  height: 300px;
  color: rgb(15, 14, 14);
  background-color: honeydew;
  padding: 20px 20px;
  display: grid;
 
}
.cola{
  width: fit-content;
}

}





  
  /*  start for styling for homepage */
  @media only screen and (max-width: 1100px){
    header{
        width: 90%;
        padding:  0 20px;
    }

    #main-logo{
        font-size: 20px;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.05);
    }

    #nav_check:checked ~ nav{
        left: -20px;
    }

    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a{
        margin-top: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    .hamburger{
        display: block;
    }
}

@media screen and (max-width: 1050px) {
  .dashboard-side-menu li {
      font-size: 18px;
  }
}

@media screen and (max-width: 940px) {
  .dashboard-side-menu li span {
      display: none;
  }
  .dashboard-side-menu {
      align-items: center;
  }
  .dashboard-side-menu li i {
      width: 40px;
      height: 40px;
  }
  .dashboard-side-menu li:hover {
      background: #f05462;
      padding: 8px 38px;
      border: 2px solid white;
      color: white;
  }
}



  @media screen and (max-width: 768px) {
    .homepage-header .homepage-logo h1 {
      font-size: 20px;
    }
  
    .homepage-header .hompage-Navlinks .nav-links {
      flex-direction: column;
      gap: 10px;
      display: none; /* Initially hidden for tablets */
    }
  
    .homepage-header .hompage-Navlinks .menu-icon {
      display: block; /* Display the menu icon for tablets */
    }


    .homepage-hero-section {
        flex-direction: column;
      }
    
      .homepage-hero-text h1 {
        padding-top: 5px;
        font-size: 25px;
      }
    
      .homepage-hero-text p {
        font-size: 16px;
      }

      .homepage-hero-image, .homepage-hero-text{
        width: 100%;
      }

      .homepage-main-section2{
        grid-template-columns: 1fr;
      }

      .homepage-section2-box1{
        width: 100%;
      }

      .homepage-section2-box2{
        width: 100%;
      }
      
      .homepage-section2-box2  .section2-min-box{
        grid-template-columns: 1fr;
      }

      .homepage-main-section3{
        grid-template-columns: 1fr;
      }

      .responsive-footer {
        /* flex-direction: column; */
        grid-template-columns: 1fr;
        padding: 10px;
      }

      .footer-logo h1{
        font-size: 16px;
      }

      .footer-Navlinks .nav-links {
        gap: 10px;
      }

        
  .footer-Navlinks .nav-links .nav-links li {
    font-size: 4px;
  }


      .Testimonial-content{
        grid-template-columns: 1fr 1fr;
      
     }


     /* protfolio */

     .wrapper-portfolio{
      margin: 10px auto;
      }
  
      .portfolio-picture-profile-section {
      max-width: 900px;
      }
  
      .picture-section {
      width: 100%;
      height: 90%;
      }
  
      .portfolio-picture-profile-section .picture-section img {   
      margin: 20px 0;
      }
  
      .profile-content-1 .sub-profile-content-1 {
      margin-left: -25px;
      }
      
      hr {
          border-top: 1px solid black;
          width: 90%;
          margin: 0 auto;
      }
      
      .personal-statement-container {
      font-weight: 200;
      margin-left: 1px;
      width: inherit;
  
      }
      
      .sub-personal-statement-container-2 p {
      line-height: 23px;
      }
  
      .personal-statement-container .sub-personal-statement-container-2 h5 {
      padding-bottom: 5px;
      }
             
     .project-section {
      padding-top: 20px;
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
      }
      
      .project-section .project-image img {
      height: 40%;
      transition: transform 0.3s;
      border-bottom-left-radius: 10px;
      }
      
     .project-section .project-image h3 {
      font-size: 15px;
      }
      
      .btn-resume {
      width: 50%;
      margin-left: 25%;
      }
      
     .more-information {
      margin-left: 30px;
      }
          
      .more-information .more-information-2 ul li {
      line-height: 30px;
      }

  }








@media screen and (max-width:536px) {
  .brand-name h1 {
      font-size: 10px;
  }
  .dashboard-container .content .cards {
      justify-content: center;
  }
  .dashboard-side-menu  li i {
      width: 30px;
      height: 30px;
  }

  .dashboard-container .content .cards {
      grid-template-columns: 1fr ;
  }

}
  
  /* Responsive styles for mobile devices (up to 480px) */
  @media screen and (max-width: 480px) {
    #typing-text {
      font-size: 2em;
    }
    .homepage-header {
      padding: 10px;
    }
  
    .homepage-header .homepage-logo h1 {
      font-size: 18px;
    }
  
    .homepage-header .hompage-Navlinks .nav-links {
      font-size: 16px;
    }
    .homepage-hero-text h1 {
        padding-top: 5px;
        font-size: 30px;
      }
    
      .homepage-hero-text p {
        font-size: 12px;
      }

      .homepage-main-section2{
        grid-template-columns: 1fr;
      }


      .Testimonial-content{
        grid-template-columns: 1fr;
      
     }



     /* portfolio query */

         
    .Main-Portfolio-container {
      max-width: 420px;
      }
  
      .portfolio-picture-profile-section .picture-section img {
      width: 95%;
      height: 35%;
      border-radius: 10px;
      margin-top: 5px;
      }
  
      .profile-content-1 .sub-profile-content-1 {
      padding-top: 15px;
      margin-left: -110px;
      }
  
      .profile-content-1 h1 {
      font-size: 25px;
      letter-spacing: 10px;
      line-height: 35px;
      margin-bottom: 15px;
      margin-top: 20px;
      }
  
      .sub-personal-statement-container-2 p {
      width: 140%;
      }
      
      .portfolio-picture-profile-section .profile-content-1 p {
      font-size: 14px;
      }
  
      .personal-statement-container .sub-personal-statement-container-2 h5 {
      font: #114e60;
      padding-top: 5px;
      letter-spacing: 5px;
      padding-bottom: 5px;
      }
             
      .sub-personal-statement-container-2 {
      /* width: 60%; */
      margin-left: -110px;
      }
      
      .sub-personal-statement-container-2 p {
      line-height: 20px;
      display: block;
      text-align: justify;
      }
  
      .project-section {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      }
      
      .project-image {
      position: relative;
      background-color: #eee;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: rgda (0, 0, 0, 0.8);
      margin: 10px;
      }
      
      .project-section .project-image img {
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      border-bottom-left-radius: 10px;
      overflow-x: hidden;
      }
      
      .project-image:hover {
      transform: scale(1.1);
      cursor: pointer;
      object-fit: contain;
      overflow-x: hidden;
      overflow: hidden;
      }
  
      .project-section .project-image p {
      margin: 20px;
      display: block;
      text-align: justify;
      }
  
      .project-section .project-image h3 {
      font-size: 15px;
      }
      
      .btn-resume {
      width: 50%;
      padding: 10px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 550;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      margin-left: 25%;
      margin-bottom: 10px;
      }
      
     .more-information {
      margin-top: 30px;
      margin-left: 30px;
      font-family: 'Courier New', Courier, monospace;
      }
          
      .more-information .more-information-2 ul li {
      line-height: 30px;
      font-weight: 500;
      }
  }
  
  
  
  /* closing for homepage styling */
  
  /*  start for styling for About_ Me  */
  
  /* closing for About styling */
  
  /*  start for styling for portfolio */
  
  /* closing for portfolio styling */
  
  /*  start for styling for testimonial */

  

/* @media (max-width: 850px) {
  .Testimonial-content{
     grid-template-columns: 1fr 1fr;
   
  }
     
 } */
/*  
 @media (max-width:480px) {
     .Testimonial-content{
        grid-template-columns: 1fr;
      
     }
        
    } */
 
  
  /* closing for testimonail styling */
  
  /*  start for styling for Blog/Article */
  
  /* closing for Blog/Article styling */
  
  /*  start for styling for Contact us */
  
  /* closing for Contact Us styling */
  