*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.Testimonial-container{
    background-color: white;
    width: 90%;
    margin: 0 auto;
} 
.Testimonial-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px;
    gap: 40px;
}    
.Testimonial-name{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}
.Testimonial-comment{
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orange;
    margin-bottom: 10px;
}
.Testimonial-photo{
    height: 70px;
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}
